@using Day2_03.Models
@model  Employee


<h3>Selected Employee Details</h3>


<div>
    Employee Id  :  @Model.EmployeeId  <br/>
    Employee Name  :  @Model.EmployeeName  <br/>
    Job :  @Model.Job<br/>
    Sal  :  @Model.Sal<br/>
    Deptno  :  @Model.Deptno<br/>

</div>

<hr/>
 <a href="/Employee/Index">Back to List</a>